<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Steer - Reset Password</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
</head>

<body>
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="card" style="width:350px;">
      <div class="card-body">
        <h2 class="card-title mb-3">Reset Password</h2>
        <form action="/reset-password/<%=userid%>/<%=token%>" method="POST">
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
              required>
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="cfloatingPassword" placeholder="Confirm Password"
              name="cpassword" required>
            <label for="cfloatingPassword">Confirm Password</label>
          </div>
          <input type="hidden" value="<%=userid%>" name="userid">
          <p><i id="message"></i></p>
          <button class="btn btn-outline-warning float-end" type="submit">Set Password</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>